section#blog
	.container
		mixin video(item, index)
			article.post(id="video#{index}")
				if (item.date && !item.id) 
					.video-holder.wait
						.video
							.count
								span next episode airing after
								.countdown(date-time="#{item.date}").time
					
				else
					.video-holder
						.video
							iframe(width="560" height="349" src="https://www.youtube.com/embed/#{item.id}" frameborder="0" allowfullscreen)

				.meta
					h2 #{item.title}
					time #{item.date}
					p #{item.description}
					
					.guests
						for guest in item.guests
							.guest
								img(src="#{guest.image}" alt="#{guest.name}")
								.details
									h4 #{guest.name}
									p Person you all know very well - man behind LatCraft.

					a(href="https://www.youtube.com/watch?v=#{item.id}", target="_blank").button check youtube

		//- all this data is taken from /json folder (specifide in grunt file)
		for video, index in videos
			if (video.show)
				+video(video, index)

			